@import 'bootstrap';


  //* HEADER *//
header {
  background-color: #754906;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 100px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}

  