@import 'bootstrap';

*{
  margin: 0;
  padding: 0;
  font-family: serif;
 
}

  //* HEADER *//
header {
  background-color: #c48d3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 100px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
  padding-right: 50px;
}
.nav-bar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
footer {
  background-color: #c48d3a;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header{
  text-align: center;
}
#homeTag{
  text-align: center;
}

// INDEX PAGE
#indexHeader{
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
}


#indexPtag{
  text-align: center;
}


  